

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */


body {
	font-family:verdana;
	margin: 0 auto;
	width: 960px;
	font-size:.75em;
	line-height: 1.5em;
	}
	
img {
	display: block;
	width: 40%;
	margin: 0 auto;
	}


h1 { 
	font-size: 1.5em;
	font-weight: bold;
	color: #9a8478;
	padding:10px 10px 15px 0px;
	}
	
#navigation {
	text-align:center;
	}

a {
	line-height: 1.5em;
	text-align: center;
	}	

a:link {
	text-decoration:none;
	color: #9a8478;
	}

a:visited {
	text-decoration:none;
	color: #9a8478;
	}
	
aside {
	font-weight: bold;
	font-size: 10px;
	padding:50px 10px 15px 300px;
	color: #9a8478;
	}
	
section {
	padding: 10px 300px 15px 300px;
	}
	
p {
	padding-bottom: 1em;
	}

