

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

body {
	font-family: helvetica;
	}

a:link {
	text-decoration: none;
	}

#site-header {
	position: relative;
	width: 70%;
	margin: 0 auto;
	height: 100px;
	}

#site-wrapper {
	position: relative;
	background-color: #ecf2d3;
	width: 100%;
	height: 100px;
	}

#top-nav {
	position: absolute;
	right: 0;
	top: 0;
	font-size: .5em;
	color: #744918;
	margin-top: 10px;
	}
	
#top-nav a {
	color: #744918;
	}

#menu-wrapper {
	position: absolute;
	width: 100%;
	height: 30px;
	background-color: #744918;
	}

ul {
	list-style: none;
	}
	
#main-menu {
	position: relative;
	width: 70%;
	margin: 0 auto;
	}

#main-menu li {
	padding: 8px 0px 0px 0px;
	margin: 0 auto;
	float: left;
	}

#main-menu li a {
	color: white;
	text-transform: uppercase;
	font-size: .8em;
	padding-right: 30px;
	font-weight: bold;
	}

#content-wrapper {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px 16px 16px 0px;
	width: 100%;
	background-color: white;
	}
	
#content {
	position: relative;
	width: 70%;
	margin: 0 auto;
	}

#content h1 {
	font-size: 2em;
	}
	
#content h1, h2 {
	color: #744918;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 12px;
	}

p {
	font-size: .7em;
	line-height: 15px;
	padding-bottom: 10px;
	}

#page {
	float: left;
	width: 50%;
	margin-right: 20%;
	}
	
#sidebar ul {
	padding-bottom: 8px;
	}

#sidebar h1 {
	font-size: 1em;
	}

#sidebar a {
	font-size: .6em;
	color: #744918;
	}
	
#site-footer {
	position: relative;
	width: 70%;
	margin: 0 auto;
	}
	
#footer-contact {
	float: left;
	width: 15%;
	padding-top: 10px;
	}
	
#footer-contact p {
	color: white;
	}

#footer-wrapper {
	position: relative;
	width: 100%;
	background-color: #875c33;
	height: 120px;
	margin-top: 100px;
	}
	
#footer-wrapper h1 {
	color: #ecf2d3;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
	}
	
#footer-follow {
	float: right;
	width: 30%;
	padding-top: 12px;
	margin: auto;
	}
	
#footer-follow li a {
	float: left;
	}
	